<a href="https://colab.research.google.com/github/Aman78695/credit-card-churn-Deep-Learning-ANN/blob/main/Copy_of_Copy_of_credit_card_churn_prediction_binary_classificatio_ANN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import keras

In [ ]:
df=pd.read_csv('/content/Churn_Modelling.csv')

In [ ]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [ ]:
df.duplicated().sum()

0

In [ ]:
df.drop(columns=['RowNumber','CustomerId','Surname'],inplace=True)

In [ ]:
df=pd.get_dummies(df,columns=['Geography','Gender'],drop_first=True)

In [ ]:
y=df['Exited']

In [ ]:
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [ ]:
df.drop(columns=['Exited'],inplace=True)

In [ ]:
X=df

In [ ]:
X.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3)

In [ ]:
X_train.shape

(7000, 11)

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

In [ ]:
X_train_scaled=scaler.fit_transform(X_train)
X_test_scaled=scaler.transform(X_test)

In [ ]:
import tensorflow
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [ ]:
model=Sequential()
model.add(Dense(3,activation='sigmoid',input_dim=11))
model.add(Dense(1,activation='sigmoid'))

In [ ]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 3)                 36

 dense_1 (Dense)             (None, 1)                 4

=================================================================
Total params: 40
Trainable params: 40
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.compile(loss='binary_crossentropy',optimizer='Adam')

In [ ]:
model.fit(X_train_scaled,y_train,epochs=10)

Epoch 1/10
219/219 [==============================] - 0s 2ms/step - loss: 0.6530
Epoch 2/10
219/219 [==============================] - 0s 2ms/step - loss: 0.5747
Epoch 3/10
219/219 [==============================] - 0s 2ms/step - loss: 0.5253
Epoch 4/10
219/219 [==============================] - 0s 2ms/step - loss: 0.4944
Epoch 5/10
219/219 [==============================] - 0s 2ms/step - loss: 0.4766
Epoch 6/10
219/219 [==============================] - 0s 2ms/step - loss: 0.4657
Epoch 7/10
219/219 [==============================] - 0s 2ms/step - loss: 0.4577
Epoch 8/10
219/219 [==============================] - 0s 1ms/step - loss: 0.4511
Epoch 9/10
219/219 [==============================] - 0s 1ms/step - loss: 0.4453
Epoch 10/10
219/219 [==============================] - 0s 2ms/step - loss: 0.4401

In [ ]:
y_hat=model.predict(X_test_scaled)

94/94 [==============================] - 0s 1ms/step

In [ ]:
y_pred=np.where(y_hat>0.5,1,0)

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
accuracy_score(y_pred,y_test)

0.7996666666666666

### improving accuracy

In [ ]:
model1=Sequential()
model1.add(Dense(11,activation='relu',input_dim=11))
model1.add(Dense(11,activation='relu'))
model1.add(Dense(1,activation='sigmoid'))

In [ ]:
model1.compile(loss='binary_crossentropy',optimizer='Adam')

In [ ]:
model1.fit(X_train_scaled,y_train,epochs=100,validation_split=0.2)

Epoch 1/100
175/175 [==============================] - 1s 6ms/step - loss: 0.3368 - val_loss: 0.3507
Epoch 2/100
175/175 [==============================] - 1s 5ms/step - loss: 0.3356 - val_loss: 0.3526
Epoch 3/100
175/175 [==============================] - 1s 5ms/step - loss: 0.3353 - val_loss: 0.3515
Epoch 4/100
175/175 [==============================] - 0s 3ms/step - loss: 0.3343 - val_loss: 0.3532
Epoch 5/100
175/175 [==============================] - 0s 2ms/step - loss: 0.3342 - val_loss: 0.3529
Epoch 6/100
175/175 [==============================] - 0s 3ms/step - loss: 0.3333 - val_loss: 0.3529
Epoch 7/100
175/175 [==============================] - 0s 2ms/step - loss: 0.3329 - val_loss: 0.3577
Epoch 8/100
175/175 [==============================] - 0s 2ms/step - loss: 0.3326 - val_loss: 0.3547
Epoch 9/100
175/175 [==============================] - 0s 2ms/step - loss: 0.3320 - val_loss: 0.3545
Epoch 10/100
175/175 [==============================] - 0s 2ms/step - loss: 0.3315 - val_loss: 0.3560
Epoch 11/100
175/175 [==============================] - 0s 3ms/step - loss: 0.3312 - val_loss: 0.3550
Epoch 12/100
175/175 [==============================] - 0s 2ms/step - loss: 0.3306 - val_loss: 0.3552
Epoch 13/100
175/175 [==============================] - 0s 2ms/step - loss: 0.3302 - val_loss: 0.3552
Epoch 14/100
175/175 [==============================] - 0s 3ms/step - loss: 0.3298 - val_loss: 0.3550
Epoch 15/100
175/175 [==============================] - 0s 3ms/step - loss: 0.3300 - val_loss: 0.3542
Epoch 16/100
175/175 [==============================] - 0s 2ms/step - loss: 0.3290 - val_loss: 0.3558
Epoch 17/100
175/175 [==============================] - 0s 3ms/step - loss: 0.3285 - val_loss: 0.3554
Epoch 18/100
175/175 [==============================] - 0s 3ms/step - loss: 0.3289 - val_loss: 0.3543
Epoch 19/100
175/175 [==============================] - 0s 2ms/step - loss: 0.3281 - val_loss: 0.3546
Epoch 20/100
175/175 [==============================] - 0s 2ms/step - loss: 0.3278 - val_loss: 0.3553
Epoch 21/100
175/175 [==============================] - 0s 2ms/step - loss: 0.3280 - val_loss: 0.3538
Epoch 22/100
175/175 [==============================] - 0s 2ms/step - loss: 0.3272 - val_loss: 0.3542
Epoch 23/100
175/175 [==============================] - 0s 2ms/step - loss: 0.3268 - val_loss: 0.3544
Epoch 24/100
175/175 [==============================] - 0s 2ms/step - loss: 0.3264 - val_loss: 0.3551
Epoch 25/100
175/175 [==============================] - 0s 2ms/step - loss: 0.3259 - val_loss: 0.3541
Epoch 26/100
175/175 [==============================] - 1s 3ms/step - loss: 0.3253 - val_loss: 0.3540
Epoch 27/100
175/175 [==============================] - 1s 4ms/step - loss: 0.3250 - val_loss: 0.3572
Epoch 28/100
175/175 [==============================] - 1s 4ms/step - loss: 0.3250 - val_loss: 0.3541
Epoch 29/100
175/175 [==============================] - 1s 4ms/step - loss: 0.3249 - val_loss: 0.3542
Epoch 30/100
175/175 [==============================] - 1s 3ms/step - loss: 0.3247 - val_loss: 0.3551
Epoch 31/100
175/175 [==============================] - 0s 2ms/step - loss: 0.3246 - val_loss: 0.3546
Epoch 32/100
175/175 [==============================] - 0s 2ms/step - loss: 0.3243 - val_loss: 0.3553
Epoch 33/100
175/175 [==============================] - 0s 3ms/step - loss: 0.3244 - val_loss: 0.3550
Epoch 34/100
175/175 [==============================] - 0s 2ms/step - loss: 0.3227 - val_loss: 0.3563
Epoch 35/100
175/175 [==============================] - 0s 2ms/step - loss: 0.3235 - val_loss: 0.3551
Epoch 36/100
175/175 [==============================] - 0s 2ms/step - loss: 0.3233 - val_loss: 0.3557
Epoch 37/100
175/175 [==============================] - 1s 3ms/step - loss: 0.3226 - val_loss: 0.3579
Epoch 38/100
175/175 [==============================] - 0s 2ms/step - loss: 0.3223 - val_loss: 0.3554
Epoch 39/100
175/175 [==============================] - 0s 2ms/step - loss: 0.3224 - val_loss: 0.3549
Epoch 40/100
175/175 [==============================] - 0s 2ms/step - loss: 0.3220 - val_loss: 0.3557
Epoch 41/100
175/175 [==============================] - 0s 3ms/step - loss: 0.3217 - val_loss: 0.3556
Epoch 42/100
175/175 [==============================] - 0s 3ms/step - loss: 0.3219 - val_loss: 0.3549
Epoch 43/100
175/175 [==============================] - 0s 3ms/step - loss: 0.3211 - val_loss: 0.3553
Epoch 44/100
175/175 [==============================] - 0s 2ms/step - loss: 0.3210 - val_loss: 0.3542
Epoch 45/100
175/175 [==============================] - 0s 3ms/step - loss: 0.3208 - val_loss: 0.3549
Epoch 46/100
175/175 [==============================] - 0s 3ms/step - loss: 0.3207 - val_loss: 0.3550
Epoch 47/100
175/175 [==============================] - 0s 2ms/step - loss: 0.3206 - val_loss: 0.3559
Epoch 48/100
175/175 [==============================] - 0s 3ms/step - loss: 0.3203 - val_loss: 0.3563
Epoch 49/100
175/175 [==============================] - 0s 2ms/step - loss: 0.3206 - val_loss: 0.3559
Epoch 50/100
175/175 [==============================] - 0s 3ms/step - loss: 0.3196 - val_loss: 0.3555
Epoch 51/100
175/175 [==============================] - 0s 2ms/step - loss: 0.3204 - val_loss: 0.3555
Epoch 52/100
175/175 [==============================] - 1s 3ms/step - loss: 0.3191 - val_loss: 0.3544
Epoch 53/100
175/175 [==============================] - 1s 5ms/step - loss: 0.3193 - val_loss: 0.3557
Epoch 54/100
175/175 [==============================] - 1s 5ms/step - loss: 0.3187 - val_loss: 0.3553
Epoch 55/100
175/175 [==============================] - 1s 4ms/step - loss: 0.3195 - val_loss: 0.3568
Epoch 56/100
175/175 [==============================] - 0s 2ms/step - loss: 0.3191 - val_loss: 0.3547
Epoch 57/100
175/175 [==============================] - 0s 2ms/step - loss: 0.3185 - val_loss: 0.3549
Epoch 58/100
175/175 [==============================] - 0s 2ms/step - loss: 0.3181 - val_loss: 0.3587
Epoch 59/100
175/175 [==============================] - 0s 2ms/step - loss: 0.3181 - val_loss: 0.3555
Epoch 60/100
175/175 [==============================] - 0s 2ms/step - loss: 0.3179 - val_loss: 0.3559
Epoch 61/100
175/175 [==============================] - 0s 2ms/step - loss: 0.3178 - val_loss: 0.3571
Epoch 62/100
175/175 [==============================] - 0s 2ms/step - loss: 0.3179 - val_loss: 0.3547
Epoch 63/100
175/175 [==============================] - 0s 2ms/step - loss: 0.3175 - val_loss: 0.3555
Epoch 64/100
175/175 [==============================] - 0s 3ms/step - loss: 0.3178 - val_loss: 0.3598
Epoch 65/100
175/175 [==============================] - 0s 2ms/step - loss: 0.3176 - val_loss: 0.3559
Epoch 66/100
175/175 [==============================] - 0s 3ms/step - loss: 0.3176 - val_loss: 0.3580
Epoch 67/100
175/175 [==============================] - 0s 2ms/step - loss: 0.3174 - val_loss: 0.3579
Epoch 68/100
175/175 [==============================] - 0s 2ms/step - loss: 0.3171 - val_loss: 0.3566
Epoch 69/100
175/175 [==============================] - 0s 3ms/step - loss: 0.3169 - val_loss: 0.3585
Epoch 70/100
175/175 [==============================] - 0s 2ms/step - loss: 0.3176 - val_loss: 0.3572
Epoch 71/100
175/175 [==============================] - 0s 2ms/step - loss: 0.3170 - val_loss: 0.3552
Epoch 72/100
175/175 [==============================] - 0s 2ms/step - loss: 0.3169 - val_loss: 0.3561
Epoch 73/100
175/175 [==============================] - 0s 2ms/step - loss: 0.3166 - val_loss: 0.3554
Epoch 74/100
175/175 [==============================] - 0s 3ms/step - loss: 0.3166 - val_loss: 0.3568
Epoch 75/100
175/175 [==============================] - 0s 2ms/step - loss: 0.3167 - val_loss: 0.3574
Epoch 76/100
175/175 [==============================] - 0s 3ms/step - loss: 0.3165 - val_loss: 0.3566
Epoch 77/100
175/175 [==============================] - 0s 2ms/step - loss: 0.3161 - val_loss: 0.3585
Epoch 78/100
175/175 [==============================] - 1s 3ms/step - loss: 0.3165 - val_loss: 0.3566
Epoch 79/100
175/175 [==============================] - 1s 4ms/step - loss: 0.3162 - val_loss: 0.3574
Epoch 80/100
175/175 [==============================] - 1s 4ms/step - loss: 0.3158 - val_loss: 0.3566
Epoch 81/100
175/175 [==============================] - 1s 5ms/step - loss: 0.3159 - val_loss: 0.3567
Epoch 82/100
175/175 [==============================] - 1s 3ms/step - loss: 0.3158 - val_loss: 0.3562
Epoch 83/100
175/175 [==============================] - 0s 2ms/step - loss: 0.3157 - val_loss: 0.3596
Epoch 84/100
175/175 [==============================] - 0s 2ms/step - loss: 0.3154 - val_loss: 0.3572
Epoch 85/100
175/175 [==============================] - 0s 2ms/step - loss: 0.3156 - val_loss: 0.3583
Epoch 86/100
175/175 [==============================] - 0s 2ms/step - loss: 0.3151 - val_loss: 0.3569
Epoch 87/100
175/175 [==============================] - 0s 2ms/step - loss: 0.3152 - val_loss: 0.3580
Epoch 88/100
175/175 [==============================] - 0s 2ms/step - loss: 0.3152 - val_loss: 0.3580
Epoch 89/100
175/175 [==============================] - 0s 3ms/step - loss: 0.3147 - val_loss: 0.3568
Epoch 90/100
175/175 [==============================] - 1s 3ms/step - loss: 0.3146 - val_loss: 0.3582
Epoch 91/100
175/175 [==============================] - 0s 2ms/step - loss: 0.3153 - val_loss: 0.3580
Epoch 92/100
175/175 [==============================] - 0s 2ms/step - loss: 0.3146 - val_loss: 0.3607
Epoch 93/100
175/175 [==============================] - 0s 2ms/step - loss: 0.3145 - val_loss: 0.3582
Epoch 94/100
175/175 [==============================] - 0s 2ms/step - loss: 0.3143 - val_loss: 0.3569
Epoch 95/100
175/175 [==============================] - 0s 2ms/step - loss: 0.3147 - val_loss: 0.3581
Epoch 96/100
175/175 [==============================] - 1s 3ms/step - loss: 0.3139 - val_loss: 0.3586
Epoch 97/100
175/175 [==============================] - 0s 2ms/step - loss: 0.3139 - val_loss: 0.3578
Epoch 98/100
175/175 [==============================] - 0s 2ms/step - loss: 0.3141 - val_loss: 0.3601
Epoch 99/100
175/175 [==============================] - 0s 2ms/step - loss: 0.3139 - val_loss: 0.3585
Epoch 100/100
175/175 [==============================] - 0s 2ms/step - loss: 0.3137 - val_loss: 0.3590

In [ ]:
y_hat1=model1.predict(X_test_scaled)

94/94 [==============================] - 0s 1ms/step

In [ ]:
y_pred1=np.where(y_hat1>0.5,1,0)

In [ ]:
accuracy_score(y_pred1,y_test)

0.8616666666666667